body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: rgb(26, 26, 26);
}

h2{
    font-weight: 300;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 2rem;
}

.btnContainer{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: rgb(255, 164, 45);
}
.red{
    background-color: rgb(255, 47, 99);
}
.purple{
    background-color: rgb(189, 50, 189);
}
.green{
    background-color: rgb(37, 230, 37);
}

.flash{
    background-color: white;
}

.userflash{
    background-color: rgb(55, 91, 1);
}